@font-face {
    font-family: 'Cuprum', sans-serif;
    src: url(fonts/Cuprum-Regular.ttf) format('ttf');
    src: url(fonts/cuprum.woff) format('woff')
    url(fonts/cuprum.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Cuprum', sans-serif;
    src: url(fonts/Cuprum-Italic.ttf) format('ttf');
    src: url(fonts/cuprumitalic.woff) format('woff')
    url(fonts/cuprumitalic.woff2) format('woff2');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Cuprum', sans-serif;
    src: url(fonts/Cuprum-Bold.ttf) format('ttf');
    src: url(fonts/cuprumbold.woff) format('woff')
    url(fonts/cuprumbold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Cuprum', sans-serif;
    src: url(fonts/Cuprum-BoldItalic.ttf) format('ttf');
    src: url(fonts/cuprumbolditalic.woff) format('woff')
    url(fonts/cuprumbolditalic.woff2) format('woff2');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Pt Sans', sans-serif;
    src: url(fonts/PTC55F.ttf) format('ttf');
}
@font-face {
    font-family: 'Pt Sans', sans-serif;
    src: url(fonts/PTS55F.ttf) format('ttf');
}
@font-face {
    font-family: 'Pt Sans', sans-serif;
    src: url(fonts/PTS56F.ttf) format('ttf');
}
@font-face {
    font-family: 'Pt Sans', sans-serif;
    src: url(fonts/PTN57F.ttf) format('ttf');
}
@font-face {
    font-family: 'Pt Sans', sans-serif;
    src: url(fonts/PTC75F.ttf) format('ttf');
}
@font-face {
    font-family: 'Pt Sans', sans-serif;
    src: url(fonts/PTS75F.ttf) format('ttf');
}
@font-face {
    font-family: 'Pt Sans', sans-serif;
    src: url(fonts/PTS76F.ttf) format('ttf');
}
@font-face {
    font-family: 'Pt Sans', sans-serif;
    src: url(fonts/PTN77F.ttf) format('ttf');
}
