@import 'variables.scss';
@import 'mixin.scss';
@import 'normalize.css';
@import 'fonts/fontFace.scss';
@import 'blocks/global/body.scss';
@import 'blocks/headerPage/menuTop.scss';
@import 'blocks/headerPage/tables.scss';
@import 'blocks/headerPage/menuBottom.scss';
@import 'blocks/mainIndex/prmoItems.scss';
@import 'blocks/mainIndex/prmoItems.scss';
@import 'blocks/mainIndex/items.scss';
@import 'blocks/mainIndex/brands.scss';
@import 'blocks/mainIndex/description.scss';
@import 'blocks/mainIndex/companysInfo.scss';
@import 'blocks/mainCatalog/breadCrumbs.scss';
@import 'blocks/mainCatalog/filter.scss';
@import 'blocks/mainCatalog/catalogItems.scss';
@import 'blocks/mainCatalog/pagination.scss';
@import 'blocks/mainCatalog/note.scss';
@import 'blocks/footerPage/footerTop.scss';
@import 'blocks/footerPage/footerBottom.scss';